<div class="leftcolumn">

{{#posts}}
<div class="card">
<h2><a href="{{baseurl}}index.php/post/{{id}}">{{title}}</a></h2>
<h5>Title description, {{created}}</h5>
<div class="fakeimg" style="height:200px;">Image</div>
<p>Some text..</p>
<p>{{content}}</p>
</div>
{{/posts}}

<p>rows data: {{rowsdata}}</p>
</div>



